<div class="row">
  <div class="col-xs-12">
    <h1>EXPERTIO <small>procesador de sistemas expertos</small></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  	<h3>Elegir archivo</h3>
    <form class="form-inline">
    	<div class="form-group">
    		<input type="file" accept="text/*" file-model="fileModel">
    	</div>
    	<button type="button" class="btn btn-default" ng-click="read()">leer<small><br />(dar 2 clicks)</small></button>
    	<button type="button" class="btn btn-default" ng-click="process(data.read)">procesar<small><br />(después de leer)</small></button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  	<h3>Data original</h3>
    <div>
    	<pre>{{data.raw}}</pre>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  	<h3>Data leída</h3>
    <div>
    	<pre>{{data.read | json:4}}</pre>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  	<h3>Data procesada</h3>
    <pre>{{data.processed | json:4}}</pre>
  </div>
</div>